.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    height: 100px
}

.footer h2{
    color: white;
    font-size: .8rem;
    /* margin-left: 50px; */
}

/* .footer__copy{
    margin-left: 50px;
} */

/* .footer__links{
    margin-right: 50px;
} */

.icon{
    width: 25px;
    margin: 0px 0px 0px 3px;
    /* color: white; */
}

.left, .right{
    margin: 0px 5px;
}