.app{
    /* background-color: rgb(94, 123, 151); */
    /* background-color: #CCD9E2; */
    background-color: #CCD9E2;
}

h1,h2,h3{
    color: #285185;
    /* color: #6F4849; */
}

p{
    /* color: rgb(94, 241, 94); */
    /* color: rgb(110, 211, 254); */
    color: #D67940;
    /* color: #6F4849; */
}